
body {
    background-color: white;
}


.huynh {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
  
    background-color: lightyellow; 


h1 {
    color: red;
}
h2 {
    color: purple;
}


.doanvan {
    font-family: Verdana, sans-serif;
    color: green;
}


.tieude{
    font-family: "Times New Roman", Times, serif;
    color: blue;
}
